<?xml version="1.0"?>
<config>
    <modules>
        <KL_LessFriction>
            <version>0.0.0.1</version>
        </KL_LessFriction>
    </modules>
    <global>
        <blocks>
            <lessfriction>
                <class>KL_LessFriction_Block</class>
            </lessfriction>
        </blocks>
        <helpers>
            <lessfriction>
                <class>KL_LessFriction_Helper</class>
            </lessfriction>
        </helpers>
        <models>
            <lessfriction>
                <class>KL_LessFriction_Model</class>
            </lessfriction>
        </models>
    </global>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <lessfriction before="Mage_Checkout">KL_LessFriction</lessfriction>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer</class>
                        <method>preDispatch</method>
                    </lessfriction>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lessfriction>
                                            <title>Less Friction Settings</title>
                                        </lessfriction>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <KL_LessFriction />
            </modules>
        </suite>
    </phpunit>
</config>
