<?xml version="1.0"?>
<config>
    <modules>
        <KL_LessFriction>
            <version>0.0.0.1</version>
        </KL_LessFriction>
    </modules>
    <global>
        <blocks>
            <lessfriction>
                <class>KL_LessFriction_Block</class>
            </lessfriction>
        </blocks>
        <helpers>
            <lessfriction>
                <class>KL_LessFriction_Helper</class>
            </lessfriction>
        </helpers>
        <models>
            <lessfriction>
                <class>KL_LessFriction_Model</class>
            </lessfriction>
            <checkout>
                <rewrite>
                    <type_onepage>KL_LessFriction_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <salesrule>
                <rewrite>
                    <quote_freeshipping>KL_LessFriction_Model_Quote_Freeshipping</quote_freeshipping>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <lessfriction_setup>
                <setup>
                    <module>KL_LessFriction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lessfriction_setup>
            <lessfriction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lessfriction_write>
            <lessfriction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lessfriction_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <lessfriction>
                    <files>
                        <default>KL_LessFriction.csv</default>
                    </files>
                </lessfriction>
            </modules>
        </translate>
        <layout>
            <updates>
                <lessfriction>
                    <file>kl/lessfriction.xml</file>
                </lessfriction>
            </updates>
        </layout>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <lessfriction before="Mage_Checkout">KL_LessFriction</lessfriction>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer</class>
                        <method>preDispatch</method>
                    </lessfriction>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer</class>
                        <method>preDispatch</method>
                    </lessfriction>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <free_shipping_validation_point_was_passed>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer_setFreeShippingOnAddress</class>
                        <method>handle</method>
                    </lessfriction>
                </observers>
            </free_shipping_validation_point_was_passed>
            <checkout_cart_save_after>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer</class>
                        <method>fireShippingValidationEvent</method>
                    </lessfriction>
                </observers>
            </checkout_cart_save_after>
            <customer_was_not_eligible_for_free_shipping>
                <observers>
                    <lessfriction>
                        <class>KL_LessFriction_Model_Shipping_MethodProvider</class>
                        <method>setShippingMethod</method>
                    </lessfriction>
                </observers>
            </customer_was_not_eligible_for_free_shipping>
            <checkout_type_onepage_save_order>
                <observers>
                    <setCustomerIsSubscribed>
                        <type>singleton</type>
                        <class>lessfriction/observer</class>
                        <method>setCustomerIsSubscribed</method>
                    </setCustomerIsSubscribed>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_order_save_before>
                <observers>
                    <lessfriction>
                        <class>lessfriction/observer</class>
                        <method>addGuestOrderToCustomer</method>
                    </lessfriction>
                </observers>
            </sales_order_save_before>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lessfriction>
                                            <title>Less Friction Settings</title>
                                        </lessfriction>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <lessfriction>
            <login>
                <hide>0</hide>
                <merge_guest_orders>0</merge_guest_orders>
                <customer_email_exists>0</customer_email_exists>
            </login>
        </lessfriction>
        <newsletter>
            <lessfriction>
                <enable>1</enable>
                <checked>1</checked>
                <visible_guest>1</visible_guest>
                <visible_register>1</visible_register>
            </lessfriction>
        </newsletter>
    </default>
    <phpunit>
        <suite>
            <modules>
                <KL_LessFriction />
            </modules>
        </suite>
    </phpunit>
</config>
